<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" th:replace = "base::layout(~{::section})">
<head>
<title th:text = "${title}">ContactManager</title>
</head>
<body>
	<section>
	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active new">
      <img th:src="@{img/pic1.jpg}" class="d-block w-100 new" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
        <button class = "btn btn-primary"> Lets Get Started.</button >
      </div>
    </div>
    <div class="carousel-item new">
      <img th:src="@{img/pic2.jpg}" class="d-block w-100 new" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
    <div class="carousel-item new">
      <img th:src="@{img/pic3.jpg}" class="d-block w-100 new" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div>
  <div class="row row-cols-2">
    <div class="col"><div class="card mb-3">
  <img th:src="@{img/aboutus.jpg}" class="card-img-top" alt="...">
    
</div></div>
    <div class="col"><div class="card mb-3">
  <img th:src="@{img/aboutus.jpg}" class="card-img-top" alt="...">
    
</div></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>
	</section>
</body>
</html >